{% extends 'layouts/base.html' %}

{% block content %}
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">A virtual library app</h1>
        <p class="lead">Login to view your books</p>
    </div>
{% endblock %}