{% extends 'layouts/base.html' %}

{% block content %}
    <div class="col-lg-12">
        <form class="form-signin" action="" method="post" id="login-form">{% csrf_token %}
            <h2 class="form-signin-heading">Login to see your E-books</h2>
            <label for="id_username">Email address</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="User Name" required autofocus>
            <label for="id_password">Password</label>
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
    </div>
{% endblock %}